$color-teal-04: #5caab5;
$color-navy-04: #6aa7c4;
$color-blue-04: #5ec3fa;
$color-red-04: #e17378;
$color-pink-04: #d874c0;
$color-purple-04: #a47dc1;
$color-yellow-04: #f4d85c;
$color-orange-04: #f5b35c;
$color-green-04: #6ecca8;
$color-gray-04: #c2c3c7;
